* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #70C1B3;

}

.about {
    /*z-index 3 para que se superponga encima de los elemento de las seccion two que se esconden debajo de esta*/
    position: fixed;
    background-color: rgb(67, 67, 67);
    width: 100%;
    height: 14vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
.about a {/*alinear los elementos del enlace para que queden centrados*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Boldonse", system-ui;
    text-transform: uppercase;

}
.about .master{
    font-size: 1.3em;
    color: #F3FFBD;

}

.about span {
    color: #c3c3c3;
    text-align: center;
    font-size: 0.7em;
    font-family: "Boldonse", system-ui;
}
.about a :first-child,
.about a :nth-child(3){/*separalos del span central*/
    margin-right: 6%;
    margin-left: 6%;
}

.dimensions {
    /* la dimension del height de estas secciones depende del height de la sección about, de esta forma reparte en dos espacios iguales el espacio restante para las dos secciones con la etiqueta dimensions*/
    height: 43vh;
    position: relative;
    display: flex;

}

.two {
    /*z-index 2 para que se superponga encima de las manos y lo que sale quede escondido. Position fixed para sacarlo del flujo normal y posicionarlo justo debajo de la sección about */
    width: 100%;
    background-color: #70C1B3
        /*#d06161 */
    ;
    position: fixed;
    top: 14vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{/*este div sirve para integrar y colocar el título centrado en lens, sin que este gire, para que sea legible*/
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    height: 65%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.two h1{
    font-family: "Boldonse", system-ui;
    font-size: 1.5em;
    color: #F3FFBD;
    text-transform: uppercase;
}
.two .title2{/*con js voy a darle forma de círculo, de ahí la necesidad del transform origin*/
    height: 130%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-origin: bottom center;
}

.title2 h2{
    font-size:0.5em;
    max-height:9% ;
    color: rgb(135, 53, 53);
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.camera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(252, 117, 117),rgb(252, 182, 182), rgb(252, 117, 117));
    border-radius: 10%;
}

.shutter {/*lo posiciono desde el bottom porque al animarlo y restarle altura necesito que mantenga su posición en el bottom*/
    position: absolute;
    bottom: 98%;
    left: 13%;
    width: 20%;
    height: 15%;
    background-color: rgb(231, 114, 114);
    border-radius: 15% 15% 5% 5%;
    transition: 1s;
    
}
.click{
    height: 10%;
    transition: 1s;
}


.line {
    /* una línea para delimitar el límite de las figuras de la sección three*/
    background-color: #247BA0;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: 0;

}


.lens {
    /*para intentar mantener la forma circular en el mayor rango posible de medidas de pantalle uso la proporción 1/1 de aspect-ratio, y una animación que gira el div entero y se hace notar por el tipo de border */
    border-radius: 50%;
    height: 65%;
    aspect-ratio: 1/1;
    background-color: #dd6c02;
    border: 5px dashed rgb(153, 79, 10);
    box-sizing: border-box;
    animation: rotate 6s 1s forwards infinite;
}

@keyframes rotate {/*imita el movimiento del enfoque de una cámara*/
    0% ,10%,100%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-80deg);
    }
    50%{
        transform: rotate(100deg);
    }

    80% {
        transform: rotate(0deg);
    }
}

nav.options2D,
nav.options3D{/*esto afectara a los dos navs, el de la sección 2D como el 3D, apareceran despues del evento click, tiene un fondo que no es del todo opaco para que sea ves la seccion de fondo*/
    position: absolute;
    background-color: #343434aa;
    width: 100%;
    height: 100%;
    

}
ol{/* hago que desaparezca el ul para que solo se vea con la clase options2d u options3D */
    display:none
}

.options2D{/* z-index 1 para que quede por encima*/
    z-index: 1;
}

.options3D{
    /* z-index 2 para que quede por encima, ya que hands tiene z-index 2*/
    z-index: 2;
}

.options2D ol,
.options3D ol{ /*mismo widht y height que la sección y el nav, en este caso el porcentaje hace referencia al nav, display flex para distribuir su conteido dentro en vertical (column)*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.options2D li,
.options3D li{/*se eliminan las viñetas y se fuerza que este en mayusculas además de dar forma a cada li*/
    list-style-type: none;
    text-transform: uppercase;
    background-color: rgba(184, 232, 230, 0.837);
    padding: 20px;
    border: 3px, solid #124d66;
    border-radius:50%;
    text-align: center;
}

li a{ /*estilos de texto*/
    color: #124d66;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

.three {
    width: 100%;
    background-color: #70C1B3;
    position: fixed;
    display: flex;
    top: calc(14vh + 43vh);
    justify-content: center;


}

.hands {
    /* se posiciona en relativo para poder subir las manos por debajo de la sección .about, por eso su medida es superior a la de su elemento padre, como el padre mide 43vh le sume 20vh y eso entre dos son 10vh que "sobresalen" fuera de la composición y por eso uso top -10vh, z index 1 para que quede encima del círculo */
    position: relative;
    top: -10vh;
    width: 70%;
    height: 63vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 7%;
    z-index: 1;
    cursor: pointer;

}

.finger {
    /*Display flex para ubicar la uñas posteriormente*/
    position: relative;
    width: 16%;
    height: 24vh;
    background-color: rgb(255, 212, 184);
    display: flex;
    box-shadow: 4px 0px 8px #343434;
}

.nail {/*display flex con center para que el texto se centre en la uña*/
    position: relative;
    background-color: red;
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nail h2{
    font-size: 1em;
    color: #F3FFBD;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.finger.top {
    /*centrarlas y ubicarlas en el bottom de su elemento padre con flex-end */
    justify-content: center;
    align-items: flex-end;
    border-radius: 0% 0% 40% 40%;
    transition: 1s;
    /*animation: handtop 3s 4s forwards infinite;*/
}

.marginTop {
    /*esta clase la añadiré con javascript para animar los dedos, usando margin y mo alterando el top, ya que cada uno tiene su propio top y esto me lo simplifica*/
    margin-top: 5%;
    transition: 1s;
}

.marginBottom {
    margin-bottom: 5%;
    transition: 1s;
}

.finger.bottom {
    /*centrar las uñas inferioresy darles forma, al estar en relative no necesito especificar que estén arriba*/
    justify-content: center;
    border-radius: 40% 40% 0% 0%;
    transition: 1s;
}

/*cambio la altura de los dedos que no serían el indice para que simule más la apariencia de mano*/
.finger:nth-child(3) {
    top: -3%;
}

.finger:nth-child(1) {
    top: -4%;
}

.finger:nth-child(4) {
    top: -14%;
    width: 12%;
}

.finger:nth-child(5) {
    bottom: -4%;
}

.finger:nth-child(7) {
    bottom: -3%;
}

.finger:nth-child(8) {
    bottom: -14%;
    width: 12%;
}

.nail.top {
    top: 0.5vh;
    border-radius: 30% 30% 50% 50%;
}

.nail.bottom {
    top: -0.6vh;
    border-radius: 50% 50% 30% 30%;
}

.finger:nth-child(4) .nail,
.finger:nth-child(8) .nail {
    /* cambiando el tamaño de las uñas de los dedos meñiques*/
    height: 18%;
}

.circle {
    /*position absolute para que no desarme la composicón de las manos. Height, widht y top con medidas relativas para que se mantenga centrado con respecto a las manos si cambian las medidas del viewport y la medida del top en % depende del porcentaje del height para que quede centrado*/
    
    background-image: linear-gradient(to bottom, #1f6c8e,#267fa4,#1f6c8e );
    border-radius: 50%;
    height: 60%;
    width: 80%;
    position: absolute;
    top: 20%;
    animation: circle 4s 2s forwards infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h1{
    font-family: "Boldonse", system-ui;
    font-size: 1.5em;
    color: #F3FFBD;
    text-transform: uppercase;
}

@keyframes circle {

    /*animacion para el circle*/
    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.15;
    }
}



@media screen and (min-width: 700px) {
    .about .master{
        font-size: 2em;
    }
    .about span{
        font-size: 1.2em;
    }
    .options2D li,
    .options3D li{
        font-size: 2.5em;
        padding: 35px;
    }
    .about a :first-child,
    .about a :nth-child(3){/*separalos del span central*/
        margin-right: 10%;
        margin-left: 10%;
    }
}


@media screen and (min-width: 1100px) {
    .about {
        height: 15vh;
    }

    .about .master{
        font-size: 2em;
    }
    .about span{
        font-size: 1em;
    }

    .about a :first-child,
    .about a :nth-child(3){/*separalos del span central*/
        margin-right: 20%;
        margin-left: 20%;
    }
    

    .dimensions {
        height: 85vh;
        /* position: relative;
    display: flex;*/

    }

    .two {
        /* un borde sutil abajo para delimitar el límite de las figuras de la sección three*/
        width: 50%;
        top: 15vh;

    }
    .two h1{
        font-size:4em;
    }
    .lens{
        border: 10px dashed rgb(153, 79, 10);
    }
   

    .three {
        width: 50%;
        top: 15vh;
        left: 50%;


    }


    .hands {
        /* se posiciona en relativo para poder subir las manos por debajo de la sección .about, por eso su medida es superior a la de su elemento padre, como el padre mide 85vh le sume 14vh y eso entre dos son 10vh que "sobresalen" fuera de la composición y por eso uso top -7vh, z index 1 para que quede encima del círculo */
        position: relative;
        top: -7vh;
        width: 70%;
        height: 99vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        gap: 7%;
        z-index: 1;

    }

    .finger {
        height: 35vh;
    }

    .line {
        display: none;
    }

    .nail h2{
        font-size: 2em;
    }

    .circle {
        height: 60%;
        top: 20%;
    }

    .circle h1{
        font-size: 4em;
    }
    .options2D li,
    .options3D li{
        font-size: 2em;

    }
}