* {
    margin: 0;
    padding: 0;
}



body {
    height: 100ddvh;
    background-color: #70C1B3;

}

.about {
    /*z-index 3 to be superimposed on top of the elements of section 2 that are hidden underneath it*/
    position: fixed;
    background-color:  #343434;
    border: 3px solid #343434;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #62958b,  #343434 12%, rgb(38, 38, 38) 49%, rgb(38, 38, 38) 51%,  #343434 88%, #62958b );
    width: 100%;
    height: 14dvh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
.about a {/*align the link elements so that they are centered*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Boldonse", system-ui;
    text-transform: uppercase;

}
.about .main{
    font-size: 1.9em;
    color: #F3FFBD;

}

.about span {
    color: #70c1b3;
    text-align: center;
    font-size: 0.7em;
    font-family: "Boldonse", system-ui;
}
.about a :first-child,
.about a :nth-child(3){/*separates the lateral spans from the central span*/
    margin-right: 3%;
    margin-left: 3%;
}

.dimensions {
    /*the size of the height of these sections depends on the height of the about section, so it divides the remaining space for the two sections with the dimensions tag into two equal spaces*/
    height: 43dvh;
    position: relative;
    display: flex;

}

.two {
    /*z-index 2 so that it overlaps over the hands and what comes out is hidden. Position fixed to take it out of the normal flow and position it just below the about section */
    width: 100%;
    background-color: #70C1B3
        /*#d06161 */
    ;
    position: fixed;
    top: 14dvh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{/*this div is used to integrate and place the title centered in lens, without rotating it, so that it is legible.*/
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    height: 65%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.two h1{
    font-family: "Boldonse", system-ui;
    font-size: 1.5em;
    color: #F3FFBD;
    text-transform: uppercase;
}
.two .title2{
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.title2 h2{ 
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}
.flash{/*position them on the upper right side of the camera. I apply a blur effect to integrate it into the composition.*/
    filter: blur(0.2px);
    position: absolute;
    top: 6%;
    right: 6%;
    height: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14%;
    background-color:  rgb(219, 107, 107);
}
.titleTop,
.titleBottom{
   animation: blur 6s 1s  forwards infinite;
   color:  #fcb6b6;
   font-size:0.5em;
}

@keyframes blur {/*imitates the flash of a camera*/
   
    0%{
        filter: blur(0px);
        color:  #fcb6b6;
        
    }

    10%{
        filter: blur(3px);
        color:  #fdfff3;
    }
    
    20%{
        filter: blur(0px); 
        color: #fcb6b6;
        
    }
    100% {
        filter: blur(0px);
        color:  #fcb6b6;
        
    } 

}

.camera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    cursor: pointer;
    background-image: linear-gradient(to right, #fc7575,#fcb6b6, #fc7575);
    border-radius: 10%;
}

.shutter {/*position it from the bottom because when I animate it I don't want it to be cut off.*/
    position: absolute;
    bottom: 98%;
    left: 13%;
    width: 20%;
    height: 15%;
    background-color: rgb(214, 85, 85);
    border-radius: 15% 15% 5% 5%;
    transition: 1s;
    
}
.click{
    height: 10%;
    transition: 1s;
}


.line {
    /* a line to delimit the boundary of the figures of section three on mobile and tablet*/
    background-color: #247BA0;
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: 0;

}


.lens {
    /*to try to keep the circular shape in the widest possible range of screen sizes I use the 1/1 aspect-ratio, and an animation that rotates the whole div and is made noticeable by the border dashed */
    border-radius: 50%;
    height: 65%;
    aspect-ratio: 1/1;
    background-color: #dd6c02;
    border: 5px dashed rgb(153, 79, 10);
    box-sizing: border-box;
    animation: rotate 6s 1s forwards infinite;
}

@keyframes rotate {/*simulates the focus movement of a camera
    */
    0% ,10%,100%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-80deg);
    }
    50%{
        transform: rotate(100deg);
    }

    80% {
        transform: rotate(0deg);
    }
}

nav.options2D,
nav.options3D{/*this will affect both navs, the 2D section and the 3D section, they will appear after the click event, it has a background that is not completely opaque so that you can see the background section*/
    position: absolute;
    background-color: #343434aa;
    width: 100%;
    height: 100%;
    

}
ol{/* to remove the ol so that it is only visible with the class options2d or options3D */
    display:none
}

.options2D,
.options3D{/* z-index 2 to be above. To consider .hands that has zindex 1*/
    z-index: 2;
}

.options2D ol,
.options3D ol{ /*same widht and height as the section and nav, in this case the percentage refers to the nav, display flex to distribute its content inside vertically (column)*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.options2D li,
.options3D li{/*the bullets are eliminated and it is forced to be in capitals, in addition to shaping each li*/
    list-style-type: none;
    text-transform: uppercase;
    background-color: rgba(184, 232, 230, 0.837);
    padding: 20px;
    border: 3px, solid #124d66;
    border-radius:50%;
    text-align: center;
}

li a{ /*text style*/
    color: #124d66;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

.three {/*the top is the sum of the height of the about section and 2D section*/
    width: 100%;
    background-color: #70C1B3;
    position: fixed;
    display: flex;
    top: calc(14dvh + 43dvh);
    justify-content: center;


}

.hands { /* it is positioned in relative to be able to raise the hands below the .about section, so its size is higher than that of its parent element, as the parent measures 43dvh I added 20dvh and that between two is 10dvh that “protrude” out of the composition and so I use top -10dvh, z index 1 to be above the circle*/
    position: relative;
    top: -10dvh;
    width: 70%;
    height: 63dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 7%;
    z-index: 1;
    cursor: pointer;

}

.finger {
    /*Display flex to position the nails*/
    position: relative;
    width: 16%;
    height: 24dvh;
    background-color: #ffd4b8;
    display: flex;
    box-shadow: 4px 0px 8px #343434;
}

.nail {/*display flex with center values to position the text centered on the nail*/
    position: relative;
    background-color: red;
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nail h2{
    font-size: 1em;
    color: #F3FFBD;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.finger.top {
    /*center and place them at the bottom of their parent element with flex-end */
    justify-content: center;
    align-items: flex-end;
    border-radius: 0% 0% 40% 40%;
    transition: 1s;
}

.marginTop {
    /*I will add this class with javascript to animate the fingers, using margin and not altering the top, since each one has its own top and this simplifies it*/
    margin-top: 5%;
    transition: 1s;
}

.marginBottom {/*This class will be added to with javascript*/
    margin-bottom: 5%;
    transition: 1s;
}

.finger.bottom {
    /*center the lower nails and shape them, as they are in relative and stretch, the default value in flex, so I don't need to specify that they are on top*/
    justify-content: center;
    border-radius: 40% 40% 0% 0%;
    transition: 1s;
}

/*change the height of the fingers other than the middle finger, to simulate the appearance of a hand.*/
.finger:nth-child(3) {
    top: -3%;
}

.finger:nth-child(1) {
    top: -4%;
}

.finger:nth-child(4) {
    top: -14%;
    width: 12%;
}

.finger:nth-child(5) {
    bottom: -4%;
}

.finger:nth-child(7) {
    bottom: -3%;
}

.finger:nth-child(8) {
    bottom: -14%;
    width: 12%;
}

.nail.top {
    top: 0.5dvh;
    border-radius: 30% 30% 50% 50%;
}

.nail.bottom {
    top: -0.6dvh;
    border-radius: 50% 50% 30% 30%;
}

.finger:nth-child(4) .nail,
.finger:nth-child(8) .nail {
    /* changing the size of the little finger nails*/
    height: 18%;
}

.circle {
    /*position absolute so that it does not disassemble the composition of the hands. Height, widht and top with relative measures so that it remains centered with respect to the hands if they change the measures of the viewport and the measure of the top in % depends on the percentage of the height so that it remains centered*/
    
    background-image: linear-gradient(to bottom, #1f6c8e,#267fa4,#1f6c8e );
    border-radius: 50%;
    height: 60%;
    width: 80%;
    position: absolute;
    top: 20%;
    animation: circle 4s 2s forwards infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h1{
    font-family: "Boldonse", system-ui;
    font-size: 1.5em;
    color: #F3FFBD;
    text-transform: uppercase;
}

@keyframes circle {

    /*animation for the circle*/
    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.15;
    }
}



@media screen and (min-width: 700px) {

    .about{
        background-image: linear-gradient(to right, #639d91,  #333333 12%,  #333333 88%, #639d91 );
    }
    .about .main{
        font-size: 1.6em;
    }
    .about span{
        font-size: 2.8em;
    }
    .title2 h2{
        font-size: 0.9em;
    }
    .title h1,
    .circle h1{
        font-size:2.5em;
    } 

    .hands span{
        font-size: 1.7em;
    }

    .options2D li,
    .options3D li{
        font-size: 2.4em;
        padding: 35px;
    }
    .about a :first-child,
    .about a :nth-child(3){/*separate them from the central span*/
        margin-right: 3%;
        margin-left: 3%;
    }
}


@media screen and (min-width: 1100px) {
    .about {
        height: 15dvh;
        border: 3px solid #343434;
        background-image: linear-gradient(to right,  #70c1b3 0% , #343434 18%,  #343434 82%,  #70c1b3 100%) ;
    }

    .about .main{
        font-size: 2em;
        z-index: 3;
    }
    .about span{
        font-size: 3em;
        color: #70c1b3;
    }
    /*in desktop changes the arrangement of the sections being 2D and 3D horizontally side by side, changes their top, their height and their width*/
    .about a :first-child,
    .about a :nth-child(3){/*separate them from the central span*/
        margin-right:2%;
        margin-left:2%;
    }
    

    .dimensions {
        height: 85dvh;

    }

    .two {
        width: 50%;/*This width will in turn determine the width of 3D*/
        top: 15dvh;

    }
    .two h1{
        font-size:4em;
    }
    


    @keyframes blur {
   
        0%{
            filter: blur(0px);
            color:  #fcb6b6;
            
        }
    
        10%{
            filter: blur(4px);
            color:  #fdfff3;
        }
        
        20%{
            filter: blur(0px); 
            color: #fcb6b6;
            
        }
        100% {
            filter: blur(0px);
            color:  #fcb6b6;
            
        } 
    
    }
    .lens{
        border: 10px dashed rgb(153, 79, 10);
    }
   

    .three {
        width: 50%;
        top: 15dvh;
        left: 50%;


    }


    .hands {
        /* it is positioned in relative to be able to raise the hands below the .about section, so its size is higher than its parent element, as the parent measures 85dvh I added 14dvh and that divided in two is 7dvh that “protrude” out of the composition and that is why I use top -7dvh, z index 1 to be above the circle */
        position: relative;
        top: -7dvh;
        width: 70%;
        height: 99dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        gap: 7%;
        z-index: 1;

    }

    .finger {
        height: 35dvh;
    }

    .line {
        display: none;
    }

    .hands span{
        font-size: 2em;
    }

    .circle {
        height: 60%;
        top: 20%;
    }

    .circle h1{
        font-size: 4em;
    }
    .options2D li,
    .options3D li{
        font-size: 2em;

    }
}