*{
    margin: 0;
    padding: 0;
}
html, body{/*para que no salte directamente a cada id, que se note el scroll*/
    scroll-behavior: smooth;
}

header{
    position: fixed;
    bottom: 0;
    z-index:2;
    width: 100%;
    background-color: rgb(67, 67, 67);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color:  #F3FFBD;
    font-family: "Boldonse", system-ui;
}

.main{
    position: fixed;
    bottom:15vh;
    z-index: 2;
    width: 100%;
    height: 10vh;
    background-color: #F3FFBD ;
    display:flex;
}
.main ol{
    width: 100%;
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    list-style-type: none;
}
.main li{
    text-align: center;
}
.main a{
    text-decoration: none;
    color: rgb(67, 67, 67) ;
    font-size: 1.5em;
    font-family: "Boldonse", system-ui;
    
}
.here{/*la idea es que esta clase sirva para seleccionar la tematica sobre la que se navega*/
    text-shadow: 6px 6px 3px #ffcd8d;
}


section{/*como el contenido sobresale para poder navegar en él lateralmente hago que lo que sobresalga de la sección quede escondido para que no rompa la composición*/
    height: 75vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#aboutSection{
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 90%;
    height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 60%;
    aspect-ratio: 1/1;
    border: 3px solid #F3FFBD;
    box-sizing: border-box;
}
.about p{
    color: #F3FFBD;
    margin-top: 8%;
    padding: 0 5%;
    font-size: 0.9em;
    text-align: justify;
}

#portraits,
#documentary,
#illustration{
    background-color:  rgb(255, 144, 144);
}

#jewelry,
#textile{
    background-color:  #ff9d42;
}

section h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(67, 67, 67) ;
}
section .theme{
    width: 100%;
    height: 13vh;
    background-color: #db7a1f;
    border-top: 5px solid  #cc6709 ;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#jewelry .theme,
#textile .theme{
    background-color: rgb(235, 110, 110) ;
    border-top: 5px solid  rgb(224, 92, 92) ;
    
}
#textile{/*este tiene que tener más altura que los demás y lo hago con margin para que no me de problemas al alinear contenido en este div*/
    margin-bottom: 25vh;
}

.content{/* 100vh menos la altura del header , nav de el content, al resultado le resto la altura del.theme, divido entre dos y al resultado le sumo de nuevo el height de .theme, así obtengo la distancia de top para que quede centrado. left 0 para que el inicio del div esté a la izquierda y sobresalga hacia la derecha. Flex para que el contenido se mantenga en una sola fila, sobresaliendo y quedando fuera del viewport*/
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    height: 50vh;
    position: relative;
    top:19vh ;
    display: flex;
    align-items: center;
    gap: 10%;
    overflow-x: auto;/*al esta overflow hidden su padre y este en el eje x en auto permite deslizar lateralmente en el contenido que queda fuera del viewport*/
}

.content::-webkit-scrollbar{/*ocultar la barra de desplazamiento lateral por defecto del navegador que se ha generado al poner overflow-x en auto*/
    display: none;
}

.content div:first-child{
    margin-left: 10%;
}

.content div:last-child{
    margin-right: 10%;
}

.content div{
    height: 90%;
    
}
.content img{
    height: 100%;
    object-fit: contain;
}
section{
    position: relative;
}


.carousel button{/* estilo para los botones*/
    display: none;
    
}



@media screen and (min-width: 750px) {

    /*cambiar tamaños de letra*/
    .about{
        width: 90%;
        max-height: 90%;
    }

    .about img{
        width: 40%;

    }
    .about p{
        margin-top: 5%;
        font-size: 1.7em;
        padding:0 10%;
    }
    
    .carousel button{
        position: absolute;
        z-index: 1;
        display: block;
        height: 62vh;
        font-size: 3em;
        appearance: none;
        color: rgb(67, 67, 67) ;
        background-color: rgb(255, 144, 144) ;
        padding: 5px 20px;
        top: 13vh;
        box-sizing: border-box;
        border: 0px;
    }
    .carousel button:hover{
        cursor: pointer;
    }

    .carousel button:nth-child(2){/*calcular el top para que quede centrado dentro del content*/
        left: 0px;
        /*top:calc(42vh - 5px);*/
    
    }
    
    .carousel button:nth-child(3){
        right: 0px;
    
    }

}


@media screen and (min-width: 1100px){

html{/*el scroll empieza a 15vh desede el top, de esta manera el hacer click en las direcciones del nav el contenido empieza justo debajo del nav*/
    scroll-padding-top: 15vh;
}  

header{
    top:0;
    width: 25%;
    z-index: 3;
}
.main{
    top:0;
    height:15vh ;
    left: 25%;
    width: 75%;
    z-index: 3;
}
#aboutSection{/*sumando la distancia del nav (que esta en fixed) para que el contenido se ajuste al espacio visible*/
    padding-top: 15vh;
}
section{
    height: 85vh;
    position: relative;
    border-bottom: 3px solid #cc6709;
}

.about{
    width: 83%;
    flex-direction: row-reverse;
}

.about img{
    width: 30%;
}

.about p{
    margin-top: 0;
    padding: 0 15% 0 0;
    font-size: 1.6em;
}

div.theme{
    width: 25%;
    height: 85vh;
    border-top: 0;
    top: 0vh;
    z-index:2;
}

#jewelry .theme,
#textile .theme{
    border-top: 0;
}

#textile{/*le quito la altura de margin que le dí*/
    margin-bottom: 0vh;
}

.theme h2{
    color: #f4fcd1;
    padding: 5%;
    
}
.content{
    position: relative;
    margin-left: 25%;
    height: 60vh;
    top: 12vh;
    gap: 5%;
}

.content div:first-child{
    margin-left: 5%;
}

.content div:last-child{
    margin-right: 5%;
}
button:nth-child(2),
button:nth-child(3){
    top:calc(40vh - 40px);
}
button:nth-child(2){
    left: calc(25% + 10px ) ;
}

}
