*{
    margin: 0;
    padding: 0;
}

html{
    scrollbar-width: none;   
}

.snap-container{/*to add scroll snap type in desktop*/
    height: 100dvh;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;/*not jump directly to each id, so that the scroll is noticeable and the scroll bar does not appear*/
}


header{
    position: fixed;
    bottom: 0;
    z-index:2;
    width: 100%;
    background-color: rgb(67, 67, 67);
    height: 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color:  #F3FFBD;
    font-family: "Boldonse", system-ui;
}

.main{
    position: fixed;
    bottom:15dvh;
    z-index: 2;
    width: 100%;
    height: 10dvh;
    background-color: #F3FFBD ;
    display:flex;
}
.main ol{
    width: 100%;
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    list-style-type: none;
}
.main li{
    text-align: center;
}
.main a{
    text-decoration: none;
    color: rgb(67, 67, 67) ;
    font-size: 1.5em;
    font-family: "Boldonse", system-ui;
    
}
.here{/*shading in the nav on the section you are navigating over*/
    text-shadow: 6px 6px 3px #ffcd8d;
}


section{/*as the content protrudes so that it can be navigated laterally, I make sure that whatever protrudes from the section is hidden so that it does not break the composition*/
    height: 75dvh;
    width: 100%;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}

#aboutSection{
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 60%;
    aspect-ratio: 1/1;
    border: 3px solid #F3FFBD;
    box-sizing: border-box;
}
.about p{
    color: #F3FFBD;
    margin-top: 8%;
    padding: 0 5%;
    font-size: 0.8em;
    text-align: justify;
    font-family: "Outfit", sans-serif;
    line-height: 1.3 ;

}

#portraits,
#documentary,
#illustration{
    background-color:  #ff9090;
}

#jewelry,
#textile{
    background-color:  #ff9d42;
}

.theme h2{
    margin: 0 30px;
    text-align: center;
    text-transform: uppercase;
    color: #434343 ;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}
section .theme{
    width: 100%;
    height: 13dvh;
    background-color: #db7a1f;
    border-top: 5px solid  #cc6709 ;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#jewelry .theme,
#textile .theme{
    background-color: #eb6e6e ;
    border-top: 5px solid  #e05c5c ;
    
}
#textile{/*this one has to be higher than the others because of the fixed nav and I do it with margin so that it does not give me problems when aligning content in this div*/
    margin-bottom: 25dvh;
}
.leftGradient{/*these gradients are to show that you have to slide sideways, since the side buttons are deactivated on mobile phones*/
    position: absolute;
    z-index: 1;
    top:14dvh;
    left: 0;
    height: 80%;
    width: 10%;
    background-image: linear-gradient( to right, rgba(255, 144, 144) 30%, rgba(255, 144, 144, 0));
    background-color: transparent;
}

.rightGradient{
    position: absolute;
    z-index: 1;
    top:14dvh;
    right: 0;
    height: 80%;
    width: 10%;
    background-image: linear-gradient( to left, rgba(255, 144, 144) 30%, rgba(255, 144, 144, 0));
    background-color: transparent;
}
#jewelry .leftGradient,
#textile .leftGradient{
    background-image: linear-gradient( to right,  rgb(255, 157, 66) 30%, rgba(255, 144, 144, 0));
}
#jewelry .rightGradient,
#textile .rightGradient{
    background-image: linear-gradient( to left, rgb(255, 157, 66) 30%, rgba(255, 144, 144, 0));

}


.content{/* 100dvh minus the height of the header and minus the nav of the content, to the result I subtract the height of the .theme, divide by two and to the result I add again the height of .theme, this way I obtain the distance of top so that it is centered. left 0 so that the beginning of the div is to the left and protrudes towards the right. Flex so that the content is kept in a single row, protruding and staying out of the viewport*/
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    height: 50dvh;
    position: relative;
    top:19dvh ;
    display: flex;
    align-items: center;
    gap: 10%;
    overflow-x: auto;/*overflow hidden and its parent on the x-axis on auto allows sliding sideways on content outside the viewport*/
}

.content::-webkit-scrollbar{/*hide the browser's default side scroll bar generated by setting overflow-x to auto*/
    display: none;
}

.content img:first-child{
    margin-left: 10%;
}

.content img:last-child{
    margin-right: 10%;
}

.content img{
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    
}


.carousel button{/* buttons style*/
    display: none;
    
}

.hidden{/*is not visible until the event click*/
    display: none;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.807);
    height: 100dvh;
    width: 100%;
    cursor: pointer;
}
.modal img{
    height: 90dvh;
    width: 90%;
    object-fit: contain;
}

@media screen and (min-width: 750px) {

    
    .about{
        width: 90%;
        max-height: 90%;
    }

    .about img{
        width: 40%;

    }
    .about p{/*change font size*/
        margin-top: 5%;
        font-size: 1.5em;
        padding:0 10%;
    }

    .rightGradient,/*hide the gradients of the mobile version*/
    .leftGradient{
        display: none;
    }
   
    
    .carousel button{
        position: absolute;
        z-index: 1;
        display: block;
        height: calc(62dvh - 2px);
        font-size: 3em;
        appearance: none;
        color: rgb(67, 67, 67) ;
        background-color: rgba(255, 144, 144, 0) ;
        padding: 0px 20px;
        top: calc(13dvh + 1px);
        box-sizing: border-box;
        border: 0px;
    }
    .carousel button:hover{
        cursor: pointer;
    }

    .carousel button:nth-child(2){/*calculate the top so that it is centered within the content*/
        left: 0px;
        background-image: linear-gradient( to right, rgba(255, 144, 144) 70%, rgba(255, 144, 144, 0));
        padding-right: 35px;
    
    }
    
    .carousel button:nth-child(3){
        right: 0px;
        background-image: linear-gradient( to left, rgba(255, 144, 144) 70%, rgba(255, 144, 144, 0));
        padding-left: 35px;
    }

    #jewelry button:nth-child(2),
    #textile button:nth-child(2){
        background-image: linear-gradient( to right, rgb(255, 157, 66) 70%, rgba(255, 144, 144, 0));
        background-color:  rgba(255, 157, 66, 0) ;
    }
    #jewelry button:nth-child(3),
    #textile button:nth-child(3){
        background-image: linear-gradient( to left, rgb(255, 157, 66) 70%, rgba(255, 144, 144, 0));
        background-color:  rgba(255, 157, 66, 0) ;
    }


}


@media screen and (min-width: 1100px){

html{/*the scroll starts at 15dvh from the top, this way when clicking on the nav addresses the content starts just below the nav*/
    scroll-padding-top: 15dvh;
}  
.snap-container{
    scroll-snap-type: y proximity;/*when you are close to a section while scrolling it will snap to its container at the end (with end) in desktop*/
}

header{
    top:0;
    width: 25%;
    z-index: 3;
}
.main{
    top:0;
    height:15dvh ;
    left: 25%;
    width: 75%;
    z-index: 3;
}
#aboutSection{/*adding the distance of the nav (which is fixed) so that the content fits the visible space*/
    padding-top: 15dvh;
}
section{
    height: 85dvh;
    position: relative;
    border-bottom: 3px solid #cc6709;
    scroll-snap-align: end; /*to give a bottom reference, because the nav in desktop is at the top*/
}

.about{
    width: 83%;
    flex-direction: row-reverse;
}

.about img{
    width: 30%;
}

.about p{
    margin-top: 0;
    padding: 0 15% 0 0;
    font-size: 1.6em;
}

div.theme{
    width: 25%;
    height: 85dvh;
    border-top: 0;
    top: 0dvh;
    z-index:2;
}

#jewelry .theme,
#textile .theme{
    border-top: 0;
}

#textile{/*I remove the margin height I gave to this section*/
    margin-bottom: 0dvh;
}

.theme h2{
    color: #f4fcd1;
    padding: 5%;
    margin: 0;
    
}
.content{
    position: relative;
    margin-left: 25%;
    height: 60dvh;
    top: 12dvh;
    gap: 5%;
}

.content div:first-child{
    margin-left: 7%;
}

.content div:last-child{
    margin-right: 7%;
}



.carousel button{
    height:100%;
    font-size: 3em;
   
    padding: 0px 20px;
    top: 0dvh;
 
}

.carousel button:nth-child(2){/*calculate the top so that it is centered within the content*/
    left: 25%;
    

}

.carousel button:nth-child(3){
    right: 0px;

}



}
