*{
    margin: 0;
    padding: 0;
}

html{/*para que no salte directamente a cada id, que se note el scroll y no salga la barra de scroll*/
    scroll-behavior: smooth;
    scrollbar-width: none;
}

header{
    position: fixed;
    bottom: 0;
    z-index:2;
    width: 100%;
    background-color: rgb(67, 67, 67);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color:  #F3FFBD;
    font-family: "Boldonse", system-ui;
}

.main{
    position: fixed;
    bottom:15vh;
    z-index: 2;
    width: 100%;
    height: 10vh;
    background-color: #F3FFBD ;
    display:flex;
}
.main ol{
    width: 100%;
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    list-style-type: none;
}
.main li{
    text-align: center;
}
.main a{
    text-decoration: none;
    color: rgb(67, 67, 67) ;
    font-size: 1.5em;
    font-family: "Boldonse", system-ui;
    
}
.here{/*la idea es que esta clase sirva para seleccionar la tematica sobre la que se navega*/
    text-shadow: 6px 6px 3px #ffcd8d;
}


section{/*como el contenido sobresale para poder navegar en él lateralmente hago que lo que sobresalga de la sección quede escondido para que no rompa la composición*/
    height: 75vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#aboutSection{
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 60%;
    aspect-ratio: 1/1;
    border: 3px solid #F3FFBD;
    box-sizing: border-box;
}
.about p{
    color: #F3FFBD;
    margin-top: 8%;
    padding: 0 5%;
    font-size: 0.8em;
    text-align: justify;
    font-family: "Outfit", sans-serif;
    line-height: 1.3 ;

}

#portraits,
#documentary,
#illustration{
    background-color:  #ff9090;
}

#jewelry,
#textile{
    background-color:  #ff9d42;
}

.theme h2{
    margin: 0 30px;
    text-align: center;
    text-transform: uppercase;
    color: #434343 ;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}
section .theme{
    width: 100%;
    height: 13vh;
    background-color: #db7a1f;
    border-top: 5px solid  #cc6709 ;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#jewelry .theme,
#textile .theme{
    background-color: #eb6e6e ;
    border-top: 5px solid  #e05c5c ;
    
}
#textile{/*este tiene que tener más altura que los demás y lo hago con margin para que no me de problemas al alinear contenido en este div*/
    margin-bottom: 25vh;
}
.leftGradient{/*estos degradados son para que se intuya que hay que deslizar lateralmente, ya que en movil los botones laterales están desactivados*/
    position: absolute;
    z-index: 1;
    top:14vh;
    left: 0;
    height: 80%;
    width: 10%;
    background-image: linear-gradient( to right, rgba(255, 144, 144) 30%, rgba(255, 144, 144, 0));
    background-color: transparent;
}

.rightGradient{
    position: absolute;
    z-index: 1;
    top:14vh;
    right: 0;
    height: 80%;
    width: 10%;
    background-image: linear-gradient( to left, rgba(255, 144, 144) 30%, rgba(255, 144, 144, 0));
    background-color: transparent;
}
#jewelry .leftGradient,
#textile .leftGradient{
    background-image: linear-gradient( to right,  rgb(255, 157, 66) 30%, rgba(255, 144, 144, 0));
}
#jewelry .rightGradient,
#textile .rightGradient{
    background-image: linear-gradient( to left, rgb(255, 157, 66) 30%, rgba(255, 144, 144, 0));

}


.content{/* 100vh menos la altura del header , nav de el content, al resultado le resto la altura del.theme, divido entre dos y al resultado le sumo de nuevo el height de .theme, así obtengo la distancia de top para que quede centrado. left 0 para que el inicio del div esté a la izquierda y sobresalga hacia la derecha. Flex para que el contenido se mantenga en una sola fila, sobresaliendo y quedando fuera del viewport*/
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    height: 50vh;
    position: relative;
    top:19vh ;
    display: flex;
    align-items: center;
    gap: 10%;
    overflow-x: auto;/*al esta overflow hidden su padre y este en el eje x en auto permite deslizar lateralmente en el contenido que queda fuera del viewport*/
}

.content::-webkit-scrollbar{/*ocultar la barra de desplazamiento lateral por defecto del navegador que se ha generado al poner overflow-x en auto*/
    display: none;
}

.content img:first-child{
    margin-left: 10%;
}

.content img:last-child{
    margin-right: 10%;
}

.content img{
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    
}


.carousel button{/* estilo para los botones*/
    display: none;
    
}

.hidden{/*no es visible hasta el evento click*/
    display: none;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.807);
    height: 100vh;
    width: 100%;
}
.modal img{
    height: 90vh;
    width: 90%;
    object-fit: contain;
}

@media screen and (min-width: 750px) {

    /*cambiar tamaños de letra*/
    .about{
        width: 90%;
        max-height: 90%;
    }

    .about img{
        width: 40%;

    }
    .about p{
        margin-top: 5%;
        font-size: 1.5em;
        padding:0 10%;
    }

    .rightGradient,
    .leftGradient{
        display: none;
    }
   
    
    .carousel button{
        position: absolute;
        z-index: 1;
        display: block;
        height: calc(62vh - 2px);
        font-size: 3em;
        appearance: none;
        color: rgb(67, 67, 67) ;
        background-color: rgba(255, 144, 144, 0) ;
        padding: 0px 20px;
        top: calc(13vh + 1px);
        box-sizing: border-box;
        border: 0px;
    }
    .carousel button:hover{
        cursor: pointer;
    }

    .carousel button:nth-child(2){/*calcular el top para que quede centrado dentro del content*/
        left: 0px;
        background-image: linear-gradient( to right, rgba(255, 144, 144) 70%, rgba(255, 144, 144, 0));
        padding-right: 35px;
    
    }
    
    .carousel button:nth-child(3){
        right: 0px;
        background-image: linear-gradient( to left, rgba(255, 144, 144) 70%, rgba(255, 144, 144, 0));
        padding-left: 35px;
    }

    #jewelry button:nth-child(2),
    #textile button:nth-child(2){
        background-image: linear-gradient( to right, rgb(255, 157, 66) 70%, rgba(255, 144, 144, 0));
        background-color:  rgba(255, 157, 66, 0) ;
    }
    #jewelry button:nth-child(3),
    #textile button:nth-child(3){
        background-image: linear-gradient( to left, rgb(255, 157, 66) 70%, rgba(255, 144, 144, 0));
        background-color:  rgba(255, 157, 66, 0) ;
    }


}


@media screen and (min-width: 1100px){

html{/*el scroll empieza a 15vh desede el top, de esta manera el hacer click en las direcciones del nav el contenido empieza justo debajo del nav*/
    scroll-padding-top: 15vh;
}  

header{
    top:0;
    width: 25%;
    z-index: 3;
}
.main{
    top:0;
    height:15vh ;
    left: 25%;
    width: 75%;
    z-index: 3;
}
#aboutSection{/*sumando la distancia del nav (que esta en fixed) para que el contenido se ajuste al espacio visible*/
    padding-top: 15vh;
}
section{
    height: 85vh;
    position: relative;
    border-bottom: 3px solid #cc6709;
}

.about{
    width: 83%;
    flex-direction: row-reverse;
}

.about img{
    width: 30%;
}

.about p{
    margin-top: 0;
    padding: 0 15% 0 0;
    font-size: 1.6em;
}

div.theme{
    width: 25%;
    height: 85vh;
    border-top: 0;
    top: 0vh;
    z-index:2;
}

#jewelry .theme,
#textile .theme{
    border-top: 0;
}

#textile{/*le quito la altura de margin que le dí*/
    margin-bottom: 0vh;
}

.theme h2{
    color: #f4fcd1;
    padding: 5%;
    margin: 0;
    
}
.content{
    position: relative;
    margin-left: 25%;
    height: 60vh;
    top: 12vh;
    gap: 5%;
}

.content div:first-child{
    margin-left: 7%;
}

.content div:last-child{
    margin-right: 7%;
}



.carousel button{
    height:100%;
    font-size: 3em;
   
    padding: 0px 20px;
    top: 0vh;
 
}

.carousel button:nth-child(2){/*calcular el top para que quede centrado dentro del content*/
    left: 25%;
    

}

.carousel button:nth-child(3){
    right: 0px;

}



}
